@charset "UTF-8";
/* Formatação de Header */
p {
    font-size: 17pt;
    font-family: Arial, Helvetica, sans-serif;
}

header#cabecalho h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 1px green;
    color: black;
    text-align: center;
}

header#cabecalho h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;
}

header#cabecalho img {
    align-items: center;
}

/* Formatação de Section */
table#tabelaindice {
    border: 2px solid black;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaindice td {
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
    text-align: center;
}

table#tabelaindice td.ce {
    color: white;
    background-color: rgb(0, 75, 0);
    vertical-align: top;
    font-weight: bold;
}

table#tabelaindice td.cd {
    background-color: rgb(167, 167, 167);
    color: black;
}

table#tabelaindice caption {
    color: rgb(27, 27, 27);
    font-size: 15pt;
    font-weight: bold;
}